@import '~bootstrap-css-only/css/bootstrap.min.css';

.bg-color {
    background-color:#272727;
    max-height: 100%;
    height: 102vh;
}

@media(max-width: 640px) {
    .bg-color {
        height: 100%
    }
}
